/** lobby **/

#roomnumber-error {
  color: var(--color_LightGreen);
  font-size: 0.9rem;
}
#roomnumber-error.hide {
  visibility: hidden;
}

#roomnumber-error.show {
  visibility: visible;
}

.lobby-ul {
  list-style-type: none;
  padding: 0;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lobby-ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
