//// lobby ////
.roomInputBox {
  background-color: red;
  //width: 200px;
  /* height: 40px;
  font-size: 2.1rem;
  padding: 5px 10px; */
}
/* 
.roomInputBox:focus {
  outline: none;
  border-color: green;
} */

input.roomInputBox {
  height: 1.1rem;
  padding: 5px 10px;
  font-size: 0.9rem;

  border: 2px solid var(--color_LightGreen);
  background-color: #f3f3f3;
}

input.roomInputBox:focus {
  outline: none;
}

//// modal ////
.modal-back-container {
  /* don't rm */
}
.modal-backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;

  z-index: 1000;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal-back {
  padding: 20px;
  z-index: 1001; /* modal-backdrop보다 높은 z-index */

  background-color: #fff;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-back p {
  font-family: "SLEIGothicTTF";
  font-size: 1rem;
  text-align: center;
}

.two-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
