/** Custumize our project css in this file */
@import url("@/lib/css_basicSettings.css");

#root {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;

  z-index: 2; /*  over #application-canvas */

  height: 100%;
  width: 100%;

  background-color: black;
}

#root-container {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%; */

  background-color: white;
  z-index: 3;
}

.box {
  width: 100%;
  height: 100%;

  background-color: var(--color_SlientBlack);
  background-color: var(--color_DeepBlack);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h1 {
  font-family: "SLEIGothicTTF";
}

.box ul {
  list-style-type: none;
  padding: 0;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box p {
  font-family: "SLEIGothicTTF";
}
