/** css from build of playcanvas (to main.jsx) */
html {
  height: 100%;
  width: 100%;
  background-color: black;
}
body {
  margin: 0;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Helvetica, arial, sans-serif;
  position: relative;
  width: 100%;

  -webkit-tap-highlight-color: transparent;

  background-color: black;
}

input {
  height: 1.1rem;
  padding: 10px 10px;
  font-size: 1.5rem;

  border: 2px solid var(--color_LightGreen);
  background-color: #f3f3f3;

  width: 90%;

  color: var(--color_DarkerGreen);
  font-weight: 700;
  font-family: "SLEIGothicTTF";
}

input:focus {
  outline: none;
  border: 2px solid var(--color_VeryLightGreen);
  background-color: white;
}

#application-canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  position: relative;
  z-index: 1;
}
#application-canvas.fill-mode-NONE {
  margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
  width: 100%;
  height: auto;
  margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
  width: 100%;
  height: 100%;
  margin: 0;
}

canvas:focus {
  outline: none;
}

/** FONT **/

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SLEIGothicTTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

/** 기본 세팅 */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
