.window {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color_BgWhite);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 35%;

  min-width: 350px;
  max-width: 550px;

  max-height: 1000px;
}

.window::before,
.window::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(
    45deg,
    var(--color_DarkerGreen),
    var(--color_VeryLightGreen),
    var(--color_SlientBlack),
    var(--color_LightGreen),
    var(--color_DarkerGreen)
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 25s linear infinite;
}

.window::after {
  filter: blur(25px);
}

/* result */

.window-result {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color_BgWhite);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 35%;

  min-width: 350px;
  max-width: 550px;

  max-height: 1000px;
}

.window-result::before,
.window-result::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(
    45deg,
    var(--color_DarkerGreen),
    var(--color_VeryLightGreen),
    blue,
    var(--color_LightGreen),
    var(--color_DarkerGreen),
    red
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 25s linear infinite;
}

.window-result::after {
  filter: blur(25px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.window-title-bar {
  background-color: var(--color_DeepDarkerGreen);
  color: white;
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  user-select: none;

  box-shadow: 0px 5px 6px -2px #bb99ff5e;

  width: 100%;
}

.window-body {
  background-color: white;

  /* padding: var(--default-padding); */
  /* overflow-y: auto;
  scrollbar-color: var(--color_DarkerGreen) var(--color_LightGreen);
  scrollbar-width: thin; */

  width: 100%;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: var(--color_DarkerGreen);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color_LightGreen);
  }
}

.window-title {
  line-height: 1;

  font-family: "DungGeunMo";
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0 0 0 10px;

  color: black;
}

.window-btn + .window-btn {
  margin-left: 6px;
}

.window-ranking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 35%;

  min-width: 350px;
  max-width: 550px;

  max-height: 1000px;

  width: 100%;
  height: 100%;

  background-color: black;
}
